<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
       <div>
       	    <h1 class="text-center font-wight-bold">Smart Contact Manager</h1>
            <p>Start collecting your contact very smarter ways. We provide very efficient
                and smarter way of handling contact.</p>
           <div class="text-center">
               <button class="btn btn-dark bg-primary">Get Started</button>
           </div>
       </div>
    </section>
</body>
</html>